html {
    height: 100%;
  }

  body {
    background: linear-gradient(200deg,#000033,#ffd700);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
          
  }

  .g-signin2{
    margin-left: 50px;
    margin-top:50px
}
.data{
    display:none;
}